.sectionTitleContainer {
    max-width: max-content;
    margin: 3.125rem 15rem 3.125rem 22rem;
    font-family: var(--font-geist-roboto);
}

.sectionTitle {
    font-weight: 600;
    font-size: var(--font-size-3xl);
    color: var(--color-dark-10);
}

@media (max-width: 768px) {
    .sectionTitleContainer {
        margin: 5rem 2rem 0 2rem;
    }

    .sectionTitle {
        font-size: var(--font-size-3xl);
    }
}

@media (max-width: 576px) {
    .sectionTitleContainer {
        margin: 4rem 2rem 0 3.3rem
    }

    .sectionTitle {
        font-size: var(--font-size-3xl);
    }
}