@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-brand: #846AFF;
    --color-dark-10: #121214;
    --color-dark-20: #7C7C8A;
    --color-dark-30: #EAEAEA;
    --color-dark-40: #EEEEFF;
    --color-dark-50: #F8F8FF;
    --color-white: #FFFFFF;

    --font-family-archivo: var(--font-geist-archivo);
    --font-family-space-grotesk: var(--font-geist-space-grotesk);
}