@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-brand: #846AFF;
    --color-dark-10: #121214;
    --color-dark-20: #7C7C8A;
    --color-dark-30: #EAEAEA;
    --color-dark-40: #EEEEFF;
    --color-dark-50: #F8F8FF;
    --color-white: #FFFFFF;

    --font-family-roboto: var(--font-geist-roboto);

    --font-size-xs: 0.75rem; /* 12px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 1.875rem; /* 30px */
    --font-size-4xl: 2.25rem; /* 36px */
    --font-size-5xl: 2.5rem; /* 40px */
    --font-size-6xl: 3rem; /* 48px */
    --font-size-7xl: 3.75rem; /* 60px */
}