.cardArticleContainer {
    height: 100%;
}

.cardArticleContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.articleImage {
    border-radius: 0.5rem 0.5rem 0 0;
    flex-shrink: 0;
}

.cardArticleSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 1.5rem;
    gap: 1rem;
    border: 3px solid var(--color-dark-40);
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
}

.cardArticleTitle {
    font-weight: 600;
    font-size: var(--font-size-xl);
    color: var(--color-dark-10);
}

.cardArticleDescription {
    font-weight: 400;
    font-size: var(--font-size-lg);
    color: var(--color-dark-10);
}

@media (max-width: 768px) {
    .cardArticleContent {
        width: fit-content;
    }

    .articleImage {
        width: 335px;
        height: 175px;
    }

    .cardArticleSection {
        padding: 1.5rem 1.125rem;
    }

    .cardArticleTitle {
        font-size: var(--font-size-lg);
    }

    .cardArticleDescription {
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 576px) {
    .cardArticleContent {
        width: fit-content;
    }

    /*.articleImage {*/
    /*    width: 327px;*/
    /*    height: 175px;*/
    /*}*/
    .cardArticleSection {
        padding: 1.5rem 1.125rem;
    }

    .cardArticleTitle {
        font-size: var(--font-size-lg);
    }

    .cardArticleDescription {
        font-size: var(--font-size-sm);
    }
}