.cardArticleContainer {

}

.cardArticleContent {
    display: flex;
    flex-direction: column;

    width: fit-content;
    border: 3px solid var(--color-dark-40);
    border-radius: 0.25rem 0 0.25rem 0;
}

.cardArticleSection {
    display: flex;
    flex-direction: column;

    padding: 2rem 1.5rem;
    gap: 1rem;
}

.cardArticleTitle {
    font-weight: 600;
    font-size: var(--font-size-xl);
    color: var(--color-dark-10);
}

.cardArticleDescription {
    font-weight: 400;
    font-size: var(--font-size-lg);
    color: var(--color-dark-10);
}

@media (max-width: 768px) {
    .cardArticleContent {
        width: fit-content;
    }

    .articleImage {
        width: 335px;
        height: 175px;
    }

    .cardArticleSection {
        padding: 1.5rem 1.125rem;
    }

    .cardArticleTitle {
        font-size: var(--font-size-lg);
    }

    .cardArticleDescription {
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 576px) {
    .cardArticleContent {
        width: fit-content;
    }

    .articleImage {
        width: 327px;
        height: 175px;
    }

    .cardArticleSection {
        padding: 1.5rem 1.125rem;
    }

    .cardArticleTitle {
        font-size: var(--font-size-lg);
    }

    .cardArticleDescription {
        font-size: var(--font-size-sm);
    }
}