.heroBannerContainer {
    display: flex;
    align-items: center;

    background-color: var(--color-dark-50);
    font-family: var(--font-geist-roboto);
}

.heroBannerContent {
    display: flex;
    flex-direction: column;

    width: 34.375rem;
    margin: 3.125rem 15rem 3.125rem 22rem;
    gap: 2rem;
}

.heroBannerTitle {
    font-weight: 600;
    font-size: var(--font-size-5xl);
    color: var(--color-dark-10);
}

.heroBannerTitle span {
    color: var(--color-brand);
}

.heroBannerSubtitle {
    font-weight: 400;
    font-size: var(--font-size-2xl);
    color: var(--color-dark-10);
}

.heroBannerButton {
    font-weight: 700;
    font-size: var(--font-size-lg);
    background: var(--color-brand);
    border-radius: 0.25rem;
    padding: 0.875rem 2rem;
    border: none;
    text-transform: uppercase;
    color: var(--color-white);
    width: max-content;
    cursor: pointer;
}

.imageWrapper {
    margin: 3.125rem 0;
}

@media (max-width: 768px) {
    .heroBannerContainer {
        flex-direction: column-reverse;
    }

    .heroBannerContent {
        justify-content: center;
        align-items: center;

        margin: 0 7rem 4rem 7rem;
    }

    .heroBannerTitle {
        font-size: var(--font-size-3xl);
        text-align: center;
    }

    .heroBannerSubtitle {
        font-size: var(--font-size-xl);
        text-align: center;
    }

    .imageWrapper {
        margin: 3.125rem 0 1.5rem 0;
    }

    .heroBannerImage {
        width: 20.625rem;
        height: 23.75rem;
    }
}

@media (max-width: 576px) {
    .heroBannerContainer {
        flex-direction: column-reverse;
    }

    .heroBannerContent {
        justify-content: center;
        align-items: center;

        width: 20.5rem;
        margin: 0 1.5rem 4rem 1.5rem;
    }

    .heroBannerTitle {
        font-size: var(--font-size-2xl);
        text-align: center;
    }

    .heroBannerSubtitle {
        font-size: var(--font-size-base);
        text-align: center;
    }

    .heroBannerButton {
        font-size: var(--font-size-sm);
        width: 100%;
    }

    .imageWrapper {
        margin: 3.125rem 0 1.5rem 0;
    }

    .heroBannerImage {
        width: 13rem;
        height: 15rem;
    }
}